*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
}
body,html{
    background-color: black;
    width:100%;
}
#about,
#skills,
#projects {
  scroll-margin-top: 100px; /* adjust to your header height */
    margin:auto;
}
html{
    scroll-behavior: smooth;
}
#skills a,#myTopnav a,#myTopnav a span{
    text-decoration: none;
}

#socialmedia a,#socialmedia a:visited{
    color:gray;
}

#skills a:focus,#skills a:visited,#skills a:active,#skills a:hover,#socialmedia a:focus,#socialmedia a:active,#socialmedia a:hover{
    color:white;
}

#myTopnav a span:hover{
    color: #fff;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
nav{
    color:white;
}
nav span{
    margin: 30px;
    font-size: 1.3em;
    font-weight: bold;
    color:gray;
}
nav span:hover{
    cursor: pointer;
}
#search{
    border-radius: 15px;
    padding: 10px;
    background-color: #232121;
}
#search input{
    background-color: #232121;
    border: none;
    outline:none;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
}
#search i{
    color:gray;
}
main h1{
    color:gray;
    font-size: 3.2em;
}
main>span{
    color:rgb(247, 247, 86);
    font-size: 1.9em;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    border: 2px solid rgb(247, 247, 86);
}
main>span:hover{
    color:white;
    cursor: pointer;
    background-color:rgb(247, 247, 86);
}
main{
    position: relative;
    margin: 100px auto;
    width: 80%;
}
#jumb{
    position: absolute;
    right: 90px;
    bottom: -20px;
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 50%;
}
#socialmedia{
    position: absolute;
    display: flex;
    flex-direction: column;
    color:white;
    right:-10px;
    bottom:40px;
}
#socialmedia i{
    font-size:1.9em;
    margin-bottom: 15px;

}

#skills{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:50px auto;
    justify-content:center;
}

#skills div img{
    width: 70px;
}

#skills div span{
    color: white;
}
#skills div{
    height: 160px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(34, 33, 33);
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    text-align:center;
}
#skills div:hover{
    background-color: yellow;
    cursor: pointer;
}
#skills div:hover span{
    color:black;
}
#projects{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin:50px auto;
    justify-content:center;
    text-align:center;
}

#projects div img{
    width: 250px;
    margin-bottom: 15px;
}

#projects a {
    text-decoration: none;
}

#projects div span{
    color: white;
}
#projects div{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(34, 33, 33);
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    height: fit-content;
    cursor: pointer;
}


  
  .icon {
    display: none;
    color: white;
    font-size: 2.2em;
    position: absolute;
    top:70px;
    right:40px;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .icon {
      display: block;
    }
    #jumb{
        display: none;
    }
  }

@media screen and (min-width: 1400px) {
    main{
        margin:100px auto;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        background-color: white;
        text-align: left;
        padding: 10px;
        width: 200px;
        display: inline-block;
        top:120px;
        right: 10px;
        border-radius: 15px;
    }
    nav span{
        margin: 0;
    }
    .topnav.responsive a {
      display: block;
      margin-bottom: 10px;
    }
    main h1{
        font-size:2.5em;
        margin-left: 50px;
    }
    main{
        margin-left: 10px;
    }
    #socialmedia{
        display: none;
    }
    #skills{
        align-items: center;
        justify-content: center;
    }
  }
